@{
    ViewBag.Title = "Транспортные средства";
    Layout = "~/Views/_LayoutDispatcher.cshtml";
}

@section head
{
    <h1>Транспортные средства</h1>
}

<div class="row">
    <div class="col-md-9">
        @(Html.Kendo().Grid<GL.Model.CarsView>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Name).Width("80px");
            columns.Bound(c => c.Manufacturer).Width("300px");
            columns.Bound(c => c.RegNumber).Width("150px");
            columns.Bound(c => c.RegNumberRegion).Width("120px");
            columns.Bound(c => c.GarageNumber);
            columns.Bound(c => c.CarsType).ClientTemplate("#=CarsType.Name#");
            columns.Command(command =>
            {
                command.Destroy().Text("Удалить");
            });
        })
        .ToolBar(toolBar =>
        {
            toolBar.Create().Text("Добавить");
            toolBar.Save().SaveText("Сохранить").CancelText("Отмена");
        })
        .Editable(editable => editable.Mode(GridEditMode.InCell))
        .Scrollable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .HtmlAttributes(new { style = "height:550px;" })
        .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .PageSize(20)
                .ServerOperation(false)
                .Events(events => events.Error("errorHandler"))
                .Model(model =>
                {
                    model.Id(p => p.CarsId);
                    model.Field(p => p.CarsId).Editable(false);
                    model.Field(p => p.CarsType).DefaultValue(ViewData["defaultcarstype"] as GL.Model.CarsTypeView);
                })
                .Read(read => read.Action("CarsRead", "Cars"))
                .Update(update => update.Action("CarsUpdate", "Cars"))
                .Create(create => create.Action("CarsCreate", "Cars"))
                .Destroy(destroy => destroy.Action("CarsDelete", "Cars"))
            )
        )
    </div>
</div>



@section js
{
    <script type="text/javascript">
        function errorHandler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }
</script>
}