@{
    ViewBag.Title = "Транспортные средства";
    Layout = "~/Views/_LayoutDispatcher.cshtml";
}

@section head
{
    <h1>Транспортные средства</h1>
}

<div class="row">

</div>

@section js
{
    
}