@model IList<GL.Model.Cars>
@{
    ViewBag.Title = "Транспортные средства";
    Layout = "~/Views/_LayoutDispatcher.cshtml";
}

<h3>Справочник транспортных средств</h3>

<div id="grid">

</div>

@section masterjs
{
    <script type="text/javascript" src="@Url.Content("/Scripts/dispatcher/cars.js")"></script>
}